header{
    background-color: lightpink;
    color: darkmagenta;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header > h1{
    margin: 0;
}

nav{
    max-width: 500px;
    width: 100%;
}

nav > a{
    text-decoration: none;
    color: darkmagenta;
}

main{
    background-color: darkslateblue;
    color: lightpink;
}

footer{
    background-color: lightpink;
    color: darkmagenta;
    text-align: center;
}